@import 'styles/globalStyles', 'styles/animations';

body {
    background: url(images/download.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    overflow: hidden;
    .viewBox {
        display: flex;
        .box {
            width: 90vw;
            margin: 0 5vw;
            height: 100vh;
            padding-top: 80px;
            position: relative;

            .flexBox {
                display: flex;
            }
            .logo {
                position: absolute;
                bottom: 10px;
                right: -50px;
                width: 100px;
            }
        }   
        @import 'styles/firstPage', 'styles/secondPage', 'styles/thirdPage',
                'styles/fourthPage', 'styles/sixthPage', 'styles/seventhPage',
                'styles/eighthPage', 'styles/ninethPage', 'styles/tenthPage',
                'styles/eleventhPage', 'styles/twelvthPage', 'styles/theirteenPage';

    }   
}


